body {
    background-color: #181818;
    color: white;
}

input {
    color: white;
    background-color: #222;
    border: 1px solid #ccc;
}

button {
    color: white;
    background-color: #333;
}

